/*  Default Display Property 
Block : Always starts a new line and takes full width
Inline : Does not start and only take up as much as content space
*/

.block {
  background: blue;
  color: white;
  display: inline;
}
.inline {
  background: red;
  color: white;
  display: block;
}
