/* RGB RED GREEN BLUE 0-255*/

#first {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}
#second {
  color: rgb(0, 255, 0);
  background: rgb(255, 255, 255);
}
#three {
  color: rgb(0, 0, 255);
  background: rgb(100, 100, 100);
}
body {
  background: rgb(100, 34, 210);
}
