/*  
Block:Top Bottom Margin Respected
Inline: Top Bottom Margin Not Respected
Mobile Navbar
list-style-type:property
descendant selectors
*/
* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style-type: square;
}

ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: #222;
  color: #f15025;
  display: block;
  padding: 10px 10px;
  /* margin: 10px; */
}
