/*
CSS BOX MODEL
PADDING
MARGIN
BORDER
*/
/*to get rid of all the default margins diplayed initially*/
/* * {
  margin: 0;
} */
h1 {
  background: red;
  padding: 20px;
  margin: 30px;
}
p {
  background: blue;
  padding: 20px;
  /* margin: 50px 20px; */
  margin: 100px;
  /* padding: 30px 60px; */
  /* padding: 20px 40px 60px 10px; */
}
